<!DOCTYPE html>
<html>
    <head>
        <title>bulbe.rocks | home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon url" href="/assets/bulb.png">
        <!-- <link rel="stylesheet" href="/css/landingpage.css"> -->
        <meta property="og:image" content="/assets/bulb.png">
        <meta property="og:title" content="bulbe.rocks">
        <meta name="theme-color" content="#00ff6f">
        <meta name="description" content="rev man's site">
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
        </div>
        <h2>Welcome to bulbe.rocks!</h2>

        <p>
            <a class="active" href="/login">Login</a><br>
            <a href="/bounce">Bounce</a><br>
            <a href="/mars">Mars Rover Photos</a><br>
            <a href="https://paste.bulbe.rocks">Pastebin</a><br>
        </p>

    </body>
</html>