<!DOCTYPE html>
<html>
    <head>
        <title>bulbe.rocks | home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon url" href="https://i.bulbe.rocks/assets/bulb.png">
        <!-- <link rel="stylesheet" href="/css/landingpage.css"> -->
        <meta property="og:image" content="https://i.bulbe.rocks/assets/bulb.png">
        <meta property="og:title" content="bulbe.rocks">
        <meta name="theme-color" content="#00ff6f">
        <meta name="description" content="rev man's site">
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a class="active" href="/login">Login</a>
        </div>
        <h2>Welcome to bulbe.rocks!</h2>
        <p class="aligncenter">
            <img src="{{ rover_photo }}" alt={{rover_photo}}/>
        </p>
        <p class="aligncenter">
            <h3>{{ camera }}</h3>
        </p>
        <style>
            .aligncenter {
                text-align: center;
                width: 100%;
            }
        </style>
    </body>
</html>